<h1 class="m-3">Stupid Coaching</h1>

<form class="m-3" action="/answer" data-turbo="false" method="get">
  <label for="ask">Ask your coach aything:</label>
  <div class="input-group">
  <input type="text" class="form-control" name="ask">
  <input class ="btn btn-primary" type="submit" value="Ask!">
  </div>
</form>
